<?xml version="1.0"?>
<!--
 * SPDX-FileCopyrightText: (c) 2003-2025 The Apache Software Foundation (ASF) and contributors.
 * SPDX-FileCopyrightText: (c) 2025 Liferay, Inc.
 * SPDX-License-Identifier: Apache-2.0
 -->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-6.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-6.0.xsd">
	<context:component-scan
		base-package="com.liferay.plutonium.demo.v3annotated"
		scope-resolver="com.liferay.bean.portlet.spring.extension.PortletScopeResolver">
		<context:include-filter
			type="custom"
			expression="com.liferay.bean.portlet.spring.extension.PortletTypeFilter" />
	</context:component-scan>
</beans>
